<link rel="stylesheet" href="{{ '/assets/css/xiaochen.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/xiaochen-topics.css' | relative_url }}">
{% if page.topic_navigation %}
<script defer src="{{ '/assets/js/topic-navigation.js' | relative_url }}"></script>
{% endif %}
{% if page.visuals == 'code' %}
<link rel="stylesheet" href="{{ '/assets/css/xiaochen-visuals.css' | relative_url }}">
<script defer src="{{ '/assets/js/xiaochen-visuals.js' | relative_url }}"></script>
{% endif %}
